<head>
  <meta charset="utf-8">
  <title>FunWithFlags - <%= @title %></title>

  <link rel="stylesheet" href="<%= path("/assets/bootstrap.min.css") %>">
  <link rel="stylesheet" href="<%= path("/assets/style.css") %>">
</head>
