<head>
  <meta charset="utf-8">
  <title>FunWithFlags - <%= @title %></title>

  <link <%= csp_nonce(@conn, :style) %> rel="stylesheet" href="<%= path(@conn, "/assets/bootstrap.min.css") %>">
  <link <%= csp_nonce(@conn, :style) %> rel="stylesheet" href="<%= path(@conn, "/assets/style.css") %>">
</head>
