<!DOCTYPE html>
<html lang="en">
  <%= _head(title: @flag.name) %>
  <body>
    <nav id="fwf-top-bar" class="navbar navbar-inverse navbar-toggleable-xl">
      <a class="navbar-brand" href="https://github.com/tompave/fun_with_flags">FunWithFlags</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="<%= path("/flags") %>">all flags</a>
          </li>

          <span class="navbar-text">
            &gt;
          </span>

          <li class="nav-item active">
            <a class="nav-link" href=""><%= @flag.name %></a>
          </li>
        </ul>

        <a href="<%= path("/new") %>" class="btn btn-secondary">New Flag</a>
      </div>
    </nav>

    <div class="container mt-3">
      <h1><%= @flag.name %></h1>

      <div id="boolean_gate" class="row mb-3">
        <div class="col">
          <div class="card">
            <h5 class="card-header">
              Default state
            </h5>
            <%= _boolean_row(flag: @flag) %>
          </div>
        </div>
      </div>

      <div id="actor_gates" class="row mb-3">
        <div class="col">
          <div class="card">
            <h5 class="card-header">
              Actors
            </h5>
            <ul class="list-group list-group-flush fwf-gate-list">
              <% actor_gates = Utils.actor_gates(@flag) %>

              <%= for gate <- actor_gates do %>
                <li class="list-group-item px-0">
                  <%= _actor_row(flag: @flag, gate: gate) %>
                </li>
              <% end %>

              <%= if Enum.empty?(actor_gates) do %>
                <li class="list-group-item">
                  none
                </li>
              <% end %>

              <li class="list-group-item">
                <%= _new_actor_row(flag: @flag) %>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div id="group_gates" class="row mb-3">
        <div class="col">
          <div class="card">
            <h5 class="card-header">
              Groups
            </h5>
            <ul class="list-group list-group-flush fwf-gate-list">
              <% group_gates = Utils.group_gates(@flag) %>

              <%= for gate <- group_gates do %>
                <li class="list-group-item px-0">
                  <%= _group_row(flag: @flag, gate: gate) %>
                </li>
              <% end %>

              <%= if Enum.empty?(group_gates) do %>
                <li class="list-group-item">
                  none
                </li>
              <% end %>

              <li class="list-group-item">
                <%= _new_group_row(flag: @flag) %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
