<!DOCTYPE html>
<html lang="en">
  <%= FunWithFlags.UI.Templates._head(title: "List") %>
  <body>
    <nav id="top-bar" class="navbar navbar-inverse navbar-toggleable-md">
      <a class="navbar-brand" href="https://github.com/tompave/fun_with_flags">FunWithFlags</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="">all flags</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container mt-3">      
      <div class="row">
        <div class="col">
          <table class="table table-hover">
            <thead class="thead-default">
              <tr>
                <th>name</th>
                <th>status</th>
                <th>gates</th>
              </tr>
            </thead>
            <tbody>
              <%= for flag <- @flags do %>
                <tr>
                  <td>
                    <a href="/flags/<%= flag.name %>"><%= flag.name %></a>
                  </td>

                  <td>
                    <%= FunWithFlags.UI.Utils.html_status_for(flag) %>
                  </td>

                  <td>
                    <%= flag.gates |> Enum.map(&(&1.type)) |> Enum.join(", ") %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
